.bg{
    background-color: black;
    padding-bottom: 50px;
    padding-top: 30px;

}

.form{
margin-left: 50px;
margin-top: 80px;
margin-right: 50px;
background-color:lightskyblue;
border-style: double;
text-align: left;
}

#title{
    text-align: center;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: mediumblue;
}

#main{
margin-left: 20px;

}