<div class="bg">
  <h1 style= "text-align: center; color: white; text-decoration: underline;">PRIVATE LIMITED COMPANY</h1>
 <div class="form">
<h1 id="title">......!!!Conference Room Reservation!!!......
</h1>
  
  <div id="main">
  Full Name : <br>
 <input type="text" [(ngModel)]="fname"> &nbsp;
 <input type="text" [(ngModel)]="lname">

<p>{{ fname }}</p> <p>{{ lname }}</p>

Email : <br>
<input type="text" [(ngModel)]="email">
<p>{{ email }} </p>

No of Attendees:<br>
<input type="text" [(ngModel)]="attendees">
<p>{{ attendees }}</p>

Position:<br>
<input type="text" [(ngModel)]="position">
<p>{{ position }}</p>

Department:<br>
<input type="text" [(ngModel)]="department">
<p>{{ department }}</p>

Phone Number:<br>
<input type="text" [(ngModel)]="areacode"> -
<input type="text" [(ngModel)]="number">
<p>{{ areacode }}</p> <p>{{ number }}</p>

Date: <br>
<input type="date" [(ngModel)]="date">
<p>{{ date }}</p>

Start Time: <br>
<input type="text" [(ngModel)]="StartTime">
<p>{{ StartTime }}</p>

End Time: <br>
<input type="text" [(ngModel)]="EndTime">
<p>{{ EndTime }}</p>

Special Instruction: <br>
<input type="text" [(ngModel)]="SplInst">
<p>{{ SplInst }}</p>
</div>
 </div>
 </div>


  